.nav {
  overflow: hidden;
  .wrapper {
    display: flex;
    margin-bottom: 80px;
    gap: 80px;

    @media only screen and (min-width: 1000px) {
      margin-bottom: 0px;
      justify-content: space-between;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

// @media only screen and (min-width: 1000px) {
//   .nav {
//     .wrapper {
//       margin-bottom: 0px;
//       justify-content: space-between;
//     }
//   }
// }
